[Desktop Entry]
Name=NextStudio
GenericName=Digital Audio Workstation
Comment=Create, record, and edit music
Exec=NextStudio
Icon=com.nextstudio.NextStudio
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;Recorder;
StartupNotify=true
Terminal=false
MimeType=application/x-nextstudio-project;